{% extends "base.html" %}
{% block title %}Vision Future - Contactez-nous{% endblock %}
{% block content %}
<div class="page-header">
    <h2>Contactez-nous</h2>
    <p>Un projet, une question ou une collaboration ? Échangeons dès maintenant :</p>
</div>

<div class="contact-card">
    <p class="contact-item">📧 <strong>Email :</strong> igorkouamen@gmail.com</p>
    <p class="contact-item">📱 <strong>Téléphone (France) :</strong> +33 744864932</p>
    <p class="contact-item">📱 <strong>Téléphone (Cameroun) :</strong> +237 6 97 46 16 61</p>
</div>
{% endblock %}